.car {
  display: flex;
  justify-content: center;

  & div {
    margin: 2rem auto 1rem;
  }

  &-data {
    color: green;
  }

  & img {
    max-width: auto;
  }
}

// .maps {
//   display: flex;
//   justify-content: flex-start;
// }
